
<section class="bg-secondary d-flex flex-wrap">
 
      <div>
        <img src="https://content.jdmagicbox.com/comp/mumbai/y6/022pxx22.xx22.120521170404.q8y6/catalogue/career-infotech-ghansoli-navi-mumbai-computer-training-institutes-nzu69j0r86.jpg" alt="" width="400px">
      </div>
      <div class="col-12 col-sm-4 col-md-4 m-auto bg-danger">
        <div class="card border border-4 border-success  ">
          <div class="card-body d-flex flex-column align-items-center my-2 ">
            <h1 class="mb-5 text-success">LogIn Here!</h1>

              <form action="" [formGroup]="login">
                  <label for="Email" class="form-label">Email address</label>
                  <input type="email" formControlName="email" class="form-control " id="InputForEmail" aria-describedby="privacy">
                  <div id="privacy" class="form-text mb-4">We'll never share your email with anyone else.</div>


                  <label for="Password"  class="form-label ">Password</label>
                  <input type="password" class="form-control" formControlName="pwd" id="InputForPassword">
                 
                 
                 
                  <div class="link d-flex">
                    <a routerLink="/forgotpass" class=" me-3 my-3" >Forgot Password!</a> 
                    <a routerLink="/registration" class="my-3">Create New Account</a> 
                  </div>
                  
                
                  <div class="d-grid col-8 mx-auto">
                    
                    <button type="submit" class="btn btn-success my-4 mb-0 rounded-pill" (click)="signIn()">Log In</button>
                  </div>




              </form>
          </div>
        </div>
      </div>
  
      
</section>


<router-outlet></router-outlet>