<nav class="navbar d-flex flex-wrap navbar-expand-lg navbar-light bg-dark py-2 ">
    <div class="container-fluid d-flex flex-wrap justify-content-around  p-3 " style="background-color: rgb(12, 1, 1); ">
      <div>
      <a class="navbar-brand text-light fs-2" href="#"  >User Management System</a>
    </div>
    <div>
        <ul class="navbar-nav me-auto mb-2 fs-6 mb-lg-0 ">
          <li class="nav-item">
            <a class="nav-link active text-secondary" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light" routerLink="login">Login Form</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light" routerLink="registration" >New Registration</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light" routerLink="forgotpass">Forget Password</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light" routerLink="unlockAcc" >Unlock Account</a>
          </li>
        </ul>
      </div>
        
      </div>
    
  </nav>


<!-- <app-sign-in></app-sign-in> --> 
<!-- <app-sign-up></app-sign-up> -->








<router-outlet></router-outlet>